.services {
    background-color:#F1F1F1;
    padding: 5rem 0;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    position: relative;
}

.services > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.services > div > img {
    width: 35%;
}

.services > div div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
}

.services h3 {
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
    color: #c99027;
    position: relative;
    top: 2.2rem;
}

.services h2 {
    font-size: 3rem;
    letter-spacing: 0.3rem;
}  

.services ul {
    list-style: none;
}

.services li {
    margin: 1rem 0; 
}

.services li img {
    width: 1rem;
    margin-right: 0.5rem;
}

.services > .services-bar {
    content: "";
    background-color: #c99027;
    height: 12px;
    width: 30%;
    position: absolute;
    bottom: -6px;
    margin: 0 auto;
    z-index: 1;
}

@media screen and (max-width: 700px) {
    .services > div {
        flex-direction: column;
        width: 100%;
    }

    .services > div div {
        width: 95%;
    }

    .services > div:not(:first-child) {
        flex-direction: column-reverse;
    }
}