.home {
    height: 100vh;
    background: url("../../assets/img/typing-laptop-using-wireless-technology-indoors-generated-by-ai.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cover {
    position: absolute;
    top: 0;
    background-color: #c9902717;
    height: 100vh;
    width: 100%;
}

.home-logo h1 {
    letter-spacing: 0.33rem;
}

.home-logo p {
    position: relative;
    top: -0.5rem;
    color: #c99027;
}

.home-logo h1, .home-logo p {
    text-shadow: 1px 1px 1rem black, 
    -1px 1px 1rem black, 
    1px -1px 1rem black, 
    -1px -1px 1rem black;
}

.home-logo-bar {
    background-color: #c99027;
    height: 8px;
    margin-top: 1rem;
}

.home-logo {
    position: absolute;
    width: 20%;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%) scale(1.5);
    z-index: 1;
}

.home-slogan p {
    font-size: 2.5rem;
    text-align: left;
    font-weight: bold;
    text-shadow: 1px 1px 1rem black;
    color: #c99027;
}

.home-slogan {
    z-index: 1;
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);
}