.home {
    height: 100vh;
    background: url("../../assets/img/typing-laptop-using-wireless-technology-indoors-generated-by-ai.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.cover {
    position: absolute;
    top: 0;
    background-color: #c9902717;
    height: 100vh;
    width: 100%;
}

.home-logo h1 {
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
}

.home-logo p {
    font-size: 1.35rem;
    position: relative;
    top: -0.5rem;
    color: #c99027;
}

.home-logo h1, .home-logo p {
    text-shadow: 1px 1px 1rem black, 
    -1px 1px 1rem black, 
    1px -1px 1rem black, 
    -1px -1px 1rem black;
}

.home-logo-bar {
    content: "";
    background-color: #c99027;
    height: 12px;
    width: 30%;
    position: absolute;
    bottom: -6px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.home-logo {
    position: absolute;
    width: 20%;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.home-slogan p {
    font-size: 2.5rem;
    text-align: left;
    font-weight: bold;
    text-shadow: 1px 1px 1rem black;
    color: #c99027;
}

.home-slogan {
    z-index: 1;
    position: absolute;
    left: 40%;
    top: 40%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {
    .home-logo {
        width: 100%;
    }
}