.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all ease-in-out 1s;
    z-index: 10;
}

.navBar-logo {
    position: relative;
    height: 3rem;
    top: -0.5rem;
}

.navBar-logo h1 {
    letter-spacing: 0.33rem;
}

.navBar-logo p {
    position: relative;
    top: -1rem;
    color: #c99027;
}

.navBar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navBar-contact {
    color: #c99027;
    transition: all ease-in-out 150ms;
}

.navBar-contact:hover {
    color: #777;
}

.scrolled {
    background-color: #333 !important;
}

.navBar-menu-button {
    display: none;
}

@media screen and (max-width: 700px) {

    .navBar {
        background-color: #333;
    }

    .navBar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        padding-bottom: 0.5rem;
        position: fixed;
        top: 3.5rem;
        left: 0;
        width: 100%;
        background-color: #333;
        clip-path: inset(0 0 100% 0);
        transition: all ease-in-out 1s;
    }

    .navBar-menu-button {
        display: block;
        border: none;
        background-color: transparent;
        color: #c99027;
        cursor: pointer;
        font-size: 2rem;
    }

    .showMenu {
        clip-path: inset(0 0 0 0) !important;
    }
}