.aboutUs {
    height: 100vh;
    background-color: #ffd381;
    color: #c99027;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.aboutUs h2, .aboutUs p {
    width: 90%;
}

.aboutUs h2 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
}

.aboutUs p {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.aboutUs-bar {
    content: "";
    background-color: #c99027;
    height: 12px;
    width: 30%;
    position: relative;
    bottom: -10.2rem;
}